@import url('https://fonts.googleapis.com/css2?family=Montez&family=Nabla&display=swap');




body {
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(13,42,201,1) 100%);
    min-height: 100vh;  
    text-align: center;
    font-family: "Montez",sans-serif;
    font-size: larger;
}
